In [98]:
from IPython.display import HTML

HTML('''<script>
code_show=true; 
function code_toggle() {
 if (code_show){
 $('div.input').hide();
 } else {
 $('div.input').show();
 }
 code_show = !code_show
} 
$( document ).ready(code_toggle);
</script>
<form action="javascript:code_toggle()"><input type="submit" value="Click here to toggle on/off the raw code."></form>''')

In [97]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from IPython.display import display, Markdown, Latex

def print_markdown(x):
    display(Markdown(x))

import os

# 1. Data preprocessing

In [8]:
xls = pd.ExcelFile('cac40.xls')

In [11]:
xls.sheet_names

['Poids', 'Données quotidiennes', 'Données Bloomberg']

## Components' weigthts

In [50]:
df = [pd.read_excel(xls,(xls.sheet_names)[i]) for i in range(3)]

In [51]:
df_weight = df[0].iloc[:,[0,2]]

## Stocks' price data

In [61]:
display(Markdown("**Columns who have null values**: "+str(((df[1].columns)[(df[1]).isnull().any()]).values)))

**Columns who have null values**: ['Credit Agricole SA' 'Electricite de France' 'Gaz de France SA' 'Suez SA']

In [96]:
print_markdown ("**Number of null data for each stock**:")
np.sum((df[1].loc[:,df[1].columns[(df[1].isnull().any())]]).isnull())

**Number of null data for each stock**:

Credit Agricole SA        247
Electricite de France    1273
Gaz de France SA         1177
Suez SA                  1970
dtype: int64

- Totall we have 2396 days' data, we need to delete these stocks who have null data and redefine a new index

In [118]:
df_price = (df[1].dropna(axis=1)).set_index("Date")

In [120]:
df[2]

,CAC Index,Unnamed: 1,Unnamed: 2,AC FP Equity,Unnamed: 4,Unnamed: 5,AF FP Equity,Unnamed: 7,Unnamed: 8,AI FP Equity,...,Unnamed: 115,Unnamed: 116,DG FP Equity,Unnamed: 118,Unnamed: 119,VIV FP Equity,Unnamed: 121,Unnamed: 122,TEC FP Equity,Unnamed: 124
0,Date,PX_LAST,NaN,Date,PX_LAST,NaN,Date,PX_LAST,NaN,Date,...,PX_LAST,NaN,Date,PX_LAST,NaN,Date,PX_LAST,NaN,Date,PX_LAST
1,NaN,5926.42,NaN,NaN,42.5543,NaN,NaN,25,NaN,NaN,...,45.2226,NaN,NaN,16.077,NaN,NaN,70.1,NaN,NaN,37.2426
2,2001-01-02 00:00:00,5798.9,NaN,2001-01-02 00:00:00,40.6441,NaN,2001-01-02 00:00:00,25.6,NaN,2001-01-02 00:00:00,...,45.2226,NaN,2001-01-02 00:00:00,16.482,NaN,2001-01-02 00:00:00,68,NaN,2001-01-02 00:00:00,35.6527
3,2001-01-03 00:00:00,5684.05,NaN,2001-01-03 00:00:00,41.0413,NaN,2001-01-03 00:00:00,24,NaN,2001-01-03 00:00:00,...,45.2226,NaN,2001-01-03 00:00:00,16.077,NaN,2001-01-03 00:00:00,67.5,NaN,2001-01-03 00:00:00,36.8572
4,2001-01-04 00:00:00,5815.99,NaN,2001-01-04 00:00:00,43.2919,NaN,2001-01-04 00:00:00,25.2,NaN,2001-01-04 00:00:00,...,40.9435,NaN,2001-01-04 00:00:00,15.4634,NaN,2001-01-04 00:00:00,70.6,NaN,2001-01-04 00:00:00,34.8818
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2393,2010-03-03 00:00:00,3842.52,NaN,2010-03-03 00:00:00,39.675,NaN,2010-03-03 00:00:00,10.345,NaN,2010-03-03 00:00:00,...,25.215,NaN,2010-03-03 00:00:00,40.165,NaN,2010-03-03 00:00:00,19.155,NaN,2010-03-03 00:00:00,54.93
2394,2010-03-04 00:00:00,3828.41,NaN,2010-03-04 00:00:00,39.105,NaN,2010-03-04 00:00:00,10.295,NaN,2010-03-04 00:00:00,...,25.005,NaN,2010-03-04 00:00:00,41.22,NaN,2010-03-04 00:00:00,19.185,NaN,2010-03-04 00:00:00,54.4
2395,2010-03-05 00:00:00,3910.42,NaN,2010-03-05 00:00:00,39.495,NaN,2010-03-05 00:00:00,10.525,NaN,2010-03-05 00:00:00,...,23.94,NaN,2010-03-05 00:00:00,41.9,NaN,2010-03-05 00:00:00,19.35,NaN,2010-03-05 00:00:00,54.99
2396,2010-03-08 00:00:00,3903.54,NaN,2010-03-08 00:00:00,39.425,NaN,2010-03-08 00:00:00,10.425,NaN,2010-03-08 00:00:00,...,23.795,NaN,2010-03-08 00:00:00,41.585,NaN,2010-03-08 00:00:00,19.26,NaN,2010-03-08 00:00:00,54.95
2397,2010-03-09 00:00:00,3903.97,NaN,2010-03-09 00:00:00,39.1,NaN,2010-03-09 00:00:00,10.465,NaN,2010-03-09 00:00:00,...,23.5,NaN,2010-03-09 00:00:00,41.595,NaN,2010-03-09 00:00:00,19.335,NaN,2010-03-09 00:00:00,55.36